language: python
python:
- '3.6'
install: pip install -r requirements.txt
script: pytest
notifications:
  email: false
  irc:
    channels:
    - irc.freenode.net:6667#kde-atelier
    on_success: change
    on_failure: always
    use_notice: true
    skip_join: true
deploy:
  provider: heroku
  api_key:
    secure: CjQWnVENczU1BbzeOOM+0kq3pY2VxCxTWcR7RSFHk4Lh991Pr44FuRyT1gL1PQNixTV+taVPA84FyfdZaaz5Sh5idnUbV41AVEsF/9uEt3jInhVPEq4V529IH2+f7MXeSdWxA7bkiUrL9qy7wawJOtVYnsAASWenJc6g/PLvPNYhiX9MDrVFuj4uLTeFJnQ9wI5QalavrbAXniUGcSJ6qa5OE9GHKoR3nsrb+DOANbwjfKL/Uac2WZlztachW6htVZ2Vn38NBZqbq0vaBh1Kosce5CN1S+CiqCEUNjuhKx0JEAJo2kHD3vuD+3iHx6Xu364UN0bBVfLMhpfa6KYzt3PsyP8Al3YXvIQTjS/oZULHx+cxhmgedGjRGhz1lBrthG5cPK+cHKUcGDP16flNTBS2d6XB8mIPvRWDfEzmHby8e9BUQzKnOotNvcO/Bk1hgxklDR85b0IFVAG5XwWlWod9DM9Hje1xCv67Kg8weWK2H5ggRtINppqh6TCTb60szFLcVnrBsN+NVDoWeqcaiOxeEOkfVMHWWoU4vK1R6BX46r1AoHtSz6eLZlfd96BruHkPIa4h8GbQ44qjifeeggODJqoYsGfRZWI42N2g6RTd5JP2DsBaC1TGu9cruVssZFz3acYzv76kUVJtx29wyOHZI7ByVtjFZ5cmiTQUYVE=
  app: app
  on:
    repo: lays147/WebAtelier
