{% extends "base.html" %} {% block content %}
<div class="content-lg container">
  <div class="col-sm-10">
    <h2 id="atcore">AtCore</h2>
    <p>AtCore is the API that does all the communication with the 3dPrinter. It is designed so that each printer firmware has its own plugin. This allows us to workout the lower level differences between various firmwares allowing us to providing the same features across all firmwares.</p>
    
    <div>
      <h3>Test Client</h3>
      <p>The Test Client is provided with AtCore. The Test Client implements all the features of AtCore for the purpose of providing way for us to test AtCore.
      </p>
      <img src="{{ url_for('static', filename='img/atcore/testclient.png') }}">

      <div>
        <br/>
        <h3>Using Test Client</h3>
        <h4>Connect</h4>
        <p>
          To use Test Client is simple, you can <a href="{{ url_for('download') }}">install</a> it, and run. We have an automated way to find the port that the 3DPrinter is using it. So connect your 3DPrinter to your PC and wait for the port to show
          it here:
        </p>
        <img src="{{ url_for('static', filename='img/atcore/serialport.png') }}"></img>
        <br/>
        <br/>
        <p>Now you need to set the baud rate of your printer, make sure to set this otherwise the return of your printer will be misunderstood by AtCore and you will not be able to connect it. On my case it's 115200:</p>
        <img src="{{ url_for('static', filename='img/atcore/baudrate.png') }}">
        <br/>
        <br/>
        <p>After that you can click on connect and check on the log or the status bar to see if the firmware is loaded correctly and if the printer is connected. If AtCore fails to auto detect your firmware you can select on from the list. Most should work with repetier.</p>
        <img src="{{ url_for('static', filename='img/atcore/statusbar.png') }}">
        <br/>
        <br/>
        <h4>Temperature</h4>
        <p>For temperature control, you can change to the second tab, where you can set Bed and HotEnd temperatures, beyond the fan speed.</p>
        <img src="{{ url_for('static', filename='img/atcore/temperature.png') }}">
        <br/>
        <br/>
      <h4>Temperature Timeline</h4>
        <p> When your printer is connected, AtCore will check every 5 seconds the bed and extruder temperatures. This plot shows the results of those checks.</p>
        <img src="{{ url_for('static', filename='img/atcore/plot.png') }}">
        <br/>
        <br/>
        <h4>Axis Movement</h4>
        <p>For the move of the axis every piece of this pie have a default value to move the axis, if you pause the mouse on it, the tooltip will show you how much mm you can move. If you want to home one or all axis, you have buttons on your dispose to
          do it.
        </p>
        <img src="{{ url_for('static', filename='img/atcore/axis.png') }}">
        <br/>
        <br/>
        <h4>To Print</h4>
        <p>To print a GCode you need to click on Print File so you can load the GCode. When you click on 'Ok', the print job will start and a progress bar will be show below the log.</p>
        <img src="{{ url_for('static', filename='img/atcore/printfile.png') }}">
        <br/>
        <br/>
        <p>You have a few more features on the Print tab:
          <ul>
            <li>Emergency Stop: Obviously to Stop your printer.</li>
            <li>On Pause: Based on the variety of printers, you can set your own Pause command, this is handy if you want to do a pause and change filament or do any thing that you want to. The On Pause action will work when you hit Pause Print button. You
              can send a lot of commands separated by a comma.
              <p><img src="{{ url_for('static', filename='img/atcore/whileprinting.png') }}"></p>
            </li>
            <li>Control the Print speed and Flow.</li>
          </ul>
        </p>
        <h4>Push GCode</h4>
        <p>Last but not least, on the Command tab you have tools to push a GCode command by hand and Show Message where you can push any message that you want to show on the LCD of your printer. </p>
        <img src="{{ url_for('static', filename='img/atcore/pushgcode.png') }}">
      </div>
      <br/>
      <br/>
      <h4>Now have fun! And give us feedback!</h4>
      <img src="{{ url_for('static', filename='img/atcore/testclient.png') }}">
    </div>
    <!-- End of Test Client -->
  </div>
  <!-- End of AtCore -->
</div>
{% endblock content %}
