{% extends "base.html" %} {% block content %}
<br/>
<div class="section-seperator">
  <div class="content-lg container">
    <div class="row margin-b-20">
      <div class="col-sm-6">
        <h2>Contact</h2>
      </div>
    </div>
    <div class="row">
      <!-- Contact List -->

      <div class="col-sm-4 sm-margin-b-50">
        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
          <h3><i class="margin-r-10 color-base fa fa-telegram"></i><a href="https://telegram.me/KDEAtelier">Telegram Group</a></h3>
          <p>Official Group of Atelier project.</p>
        </div>
      </div>

      <div class="col-sm-4 sm-margin-b-50">
        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
          <h3><i class="margin-r-10 color-base fa fa-telegram"></i><a href="https://telegram.me/KDEAtelierBrasil">Telegram Group Brazil</a></h3>
          <p>If you are from Brazil, feel free to join our Brazilian group!</p>
        </div>
      </div>

      <div class="col-sm-4 sm-margin-b-50">
        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
          <h3><i class="margin-r-10 color-base fa fa-envelope"></i><a href="https://mail.kde.org/mailman/listinfo/atelier">Mail List</a></h3>
          <p>Let us know your feedback, bug reports, and more on this mail list.</p>
        </div>
      </div>

      <div class="col-sm-4 sm-margin-b-50">
        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
          <h3><a href="https://lays147.github.io">Lays Rodrigues</a> <span class="text-uppercase margin-l-20">Developer</span></h3>
          <p>Niterói, Rio de Janeiro, Brazil</p>
          <ul class="list-unstyled contact-list">
            <li><i class="margin-r-10 color-base fa fa-telegram"></i> @lays147</li>
            <li><i class="margin-r-10 color-base fa fa-envelope"></i> laysrodriguessilva@gmail.com</li>
          </ul>
        </div>
      </div>

      <!-- End Contact List -->
    </div>
    <!--// end row -->
  </div>
</div>
<!-- End Contact List -->

{% endblock content %}
