{% extends "base.html" %} {% block content %}
<br/>
<div class="content-lg container">
  <div class="col-sm-10">
    <h2><i class="fa fa-book"></i> Our Softwares</h2>
  </div>
  <div class="row">
    <!-- Latest Products -->
    <div class="col-sm-4 sm-margin-b-50">
      <div class="margin-b-20">
        <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
          <img class="img-responsive" src="{{ url_for('static', filename='img/atcore/atcorelogo.png') }}" alt="AtCore Logo">
        </div>
      </div>
      <h4><a href="#">AtCore</a> <span class="text-uppercase margin-l-20">API</span></h4>
      <p>AtCore is the core of Atelier project. It manages all serial communication with the 3DPrinter.</p>
      <a class="link" href="{{ url_for('atcore') }}">Read More</a>
    </div>
    <!-- End Latest Products -->

    <!-- Latest Products -->
    <div class="col-sm-4 sm-margin-b-50">
      <div class="margin-b-20">
        <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
          <img class="img-responsive" src="{{ url_for('static', filename='img/atelier/atelierlogo.png') }}" alt="Atelier Logo">
        </div>
      </div>
      <h4><a href="#">Atelier</a> <span class="text-uppercase margin-l-20">Client</span></h4>
      <p>Atelier is a client of AtCore with all features that you need: 3DView, GCode edition and much more.</p>
      <a class="link" href="{{ url_for('atelier') }}">Read More</a>
    </div>
    <!-- End Latest Products -->
  </div>
  <!--// end row -->
</div>
<!-- End Latest Products -->

<br/> {% endblock content %}
