{% extends "base.html" %} {% block content %}
<div class="container">
  <br/>
  <div class="content-lg container">
    <div class="row margin-b-20">
      <div class="col-sm-8">
        <h2>Download</h2>
        <h4>You will download AtCore and it's TestClient Stable Version.</h4>
      </div>
    </div>
    <div class="row row-space-1 margin-b-2">
      <div class="col-sm-4 sm-margin-b-2">
        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
          <div class="service" data-height="height">
            <div class="service-element">
              <i class="fa fa-linux fa-4x"></i>
            </div>
            <div class="service-info">
              <h3>Linux</h3>
              <p class="margin-b-5">
                Available soon on your distro package manager!
              </p>
              <!-- <p class="margin-b-5"> .tar.gz | <a>link</a></p>
              <p class="margin-b-5"> Or on your distro package manager</p> -->
            </div>
            <a href="#" class="content-wrapper-link"></a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 sm-margin-b-2">
        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".2s">
          <div class="service" data-height="height">
            <div class="service-element">
              <i class="fa fa-windows fa-4x"></i>
            </div>
            <div class="service-info">
              <h3>Windows</h3>
              <p class="margin-b-5"><a href="{{ url_for('download_binaries', filename='AtCore-x64.exe') }}">64 Bit</a></p>
            </div>
            <!-- <a href="#" class="content-wrapper-link"></a> -->
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
          <div class="service" data-height="height">
            <div class="service-element">
              <i class="fa fa-apple fa-4x"></i>
            </div>
            <div class="service-info">
              <h3>MacOs</h3>
              <p class="margin-b-5">Available soon!</p>
              <!-- <p class="margin-b-5">64 Bit | <a>bundle</a></p> -->
            </div>
            <a href="#" class="content-wrapper-link"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
