{% extends "base.html" %} {% block content %}
<div class="container">
  <br/>
  <div class="content-lg container">
    <div class="row margin-b-20">
      <div class="col-sm-8">
        <h2>Download</h2>
        <h4>You will download AtCore 1.0 and it's TestClient.</h4>
      </div>
    </div>
    <div class="row row-space-1 margin-b-2">
      <div class="col-sm-4 sm-margin-b-2">
        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
          <div class="service" data-height="height">
            <div class="service-element">
              <i class="fa fa-linux fa-4x"></i>
            </div>
            <div class="service-info">
              <h3>Linux</h3>
              <p class="margin-b-5"><a onclick="ga( 'send', 'event', 'Linux Tar Gz 1.0', 'click')" href="https://download.kde.org/stable/atcore/1.0.0/atcore-1.0.0.tar.xz"> .tar.xz </a>| <a href="https://download.kde.org/stable/atcore/1.0.0/atcore-1.0.0.tar.xz.sig">Signature</a></p>
              <p class="margin-b-5"> <a onclick="ga( 'send', 'event', 'Linux App 1.0', 'click')" href="https://download.kde.org/stable/atcore/1.0.0/AtCore_Test_Client-1.0.0-x86_64.AppImage">App Image </a>| <a href="https://download.kde.org/stable/atcore/1.0.0/AtCore_Test_Client-1.0.0-x86_64.AppImage.sig">Signature</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 sm-margin-b-2">
        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".2s">
          <div class="service" data-height="height">
            <div class="service-element">
              <i class="fa fa-windows fa-4x"></i>
            </div>
            <div class="service-info">
              <h3>Windows</h3>
              <p class="margin-b-5"><a onclick="ga( 'send', 'event', 'Windows 1.0', 'click')" href="https://download.kde.org/stable/atcore/1.0.0/AtCore_Test_Client-1.0.0-win32.zip">64 Bit</a> | <a href="https://download.kde.org/stable/atcore/1.0.0/AtCore_Test_Client-1.0.0-win32.zip.sig">Signature</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
          <div class="service" data-height="height">
            <div class="service-element">
              <i class="fa fa-apple fa-4x"></i>
            </div>
            <div class="service-info">
              <h3>MacOs</h3>
              <p class="margin-b-5"><a onclick="ga( 'send', 'event', 'Mac 1.0', 'click')" href="https://download.kde.org/stable/atcore/1.0.0/AtCoreTest-1.0.0.dmg">OsX </a>| <a href="https://download.kde.org/stable/atcore/1.0.0/AtCoreTest-1.0.0.dmg.sig">Signature</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}