{% extends "base.html" %} {% block content %}
<div class="content-lg container">
  <div class="row">
    <div class="col-sm-4">
      <img src="{{ url_for('static', filename='img/atelier/atelierlogo.png') }}" />
    </div>
    <div class="col-sm-6 col-sm-offset-1 content-sm">
      <p>
        Atelier is an open source program that allows you to control your 3D printer. <br/> Along with the back end, AtCore, you can calibrate, send jobs, or receive information about the status of your printer. <br/> Atelier works on Linux, Windows and
        MacOS!
      </p>
      <button class="btn-base-bg" onclick="window.location.href='{{ url_for('download') }}'">Get Atelier Now!</button>
    </div>
  </div>
</div>
<!-- Clients -->
<div class="bg-color-sky-light">
  <div class="content-lg container">
    <!-- Swiper Clients -->
    <div class="swiper-slider swiper-clients">
      <!-- Swiper Wrapper -->
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img class="swiper-clients-img" src="{{ url_for('static', filename='img/features/sethi.png') }}" alt="Sethi">Linux(Ubuntu)
        </div>
        <div class="swiper-slide">
          <img class="swiper-clients-img" src="{{ url_for('static', filename='img/features/mac2.jpg') }}" alt="OsX">OsX
        </div>
        <div class="swiper-slide">
          <img class="swiper-clients-img" src="{{ url_for('static', filename='img/features/cloner.png') }}" alt="Cloner">Linux(Arch)
        </div>
        <div class="swiper-slide">
          <img class="swiper-clients-img" src="{{ url_for('static', filename='img/features/mac.jpg') }}" alt="OsX">OsX
        </div>
        <div class="swiper-slide">
          <img class="swiper-clients-img" src="{{ url_for('static', filename='img/features/windows.jpg') }}" alt="Windows"> Windows
        </div>
        <!-- <div class="swiper-slide">
          <img class="swiper-clients-img" src="img/clients/06.png" alt="Clients Logo">
        </div> -->
      </div>
      <!-- End Swiper Wrapper -->
    </div>
    <!-- End Swiper Clients -->
  </div>
</div>

<!-- Testimonials -->
<div class="content-md container ">
  <div class="row ">
    <div class="col-sm-9 ">
      <h2>Users Reviews</h2>
      <!-- Swiper Testimonials -->
      <div class="swiper-slider swiper-testimonials ">
        <!-- Swiper Wrapper -->
        <div class="swiper-wrapper ">
          <div class="swiper-slide ">
            <blockquote class="blockquote ">
              <div class="margin-b-20 ">
                It's client and library are very useful to fulfill a defficiency in slicers like Cura and slic3r, and besides that for presenting a more competent and flexible alternative to the ones already in the market.
              </div>
              <div class="margin-b-20 ">
                Also, it makes part of an important foundation base for the growth of a 3D Printing API framework based on open-source.
              </div>
              <p><span class="fweight-700 color-link ">Claudio Sampaio</span></p>
            </blockquote>
          </div>
        </div>
        <!-- End Swiper Wrapper -->
        <!-- Pagination -->
        <div class="swiper-testimonials-pagination "></div>
      </div>
      <!-- End Swiper Testimonials -->
    </div>
  </div>
  <!--// end row -->
</div>
<!-- End Testimonials -->
<!--========== END PAGE LAYOUT ==========-->
{% endblock content %}
