{% extends "base.html" %} {% block content %}
<br/>
<div class="content-lg container">
  <div class="col-sm-10">
    <h2><i class="fa fa-book"></i> Support Us</h2>
  </div>
</div>
<div class="content-md container">
  <div class="col-sm-10">
    <h2>How can you help us on Atelier?</h2>
    <h3> Support KDE Community </h3>
    <p>
      Atelier and AtCore are KDE Projects. And we believe on the vision of the community:
    </p>
    <blockquote class="blockquote">
      The KDE® Community is a free software community dedicated to creating an open and user-friendly computing experience, offering an advanced graphical desktop, a wide variety of applications for communication, work, education and entertainment and a platform
      to easily build new applications upon. We have a strong focus on finding innovative solutions to old and new problems, creating a vibrant atmosphere open for experimentation.
    </blockquote>
    <p>
      Get to know the community and donate <a href="https://www.kde.org">here</a>.
    </p>
    <h3> Feedback on Atelier and AtCore on our channels: </h3>
    <a href="https://telegram.me/KDEAtelier"><i class="fa fa-telegram"> Telegram KDE Atelier</i></p>
    <a href="https://telegram.me/KDEAtelierBrasil"><i class="fa fa-telegram"> Telegram KDE Atelier Brazil</i></p>
    <a href="#"><i class="fa fa-envelope"> Our mail list</i></p>
    <h3>Want to be a developer?</h3>
    <p>
      Get to know our project, chat with our developers on our channels, and read the KDE Community Guidelines on how to
      get involved with the Community and send us a patch! We are here to help you!
    </p>
  </div>
</div>
{% endblock content %}
